.embd-election-results {
  font-family: "Source Sans Pro", sans-serif;
  color: #000;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  max-width: 1320px;
  margin: 0 auto;

  .mt-2 {
    margin-top: 20px;
  }
  .mt-3 {
    margin-top: 30px;
  }
  .mt-4 {
    margin-top: 40px;
  }
  .mb-2 {
    margin-bottom: 20px;
  }
  .mb-3 {
    margin-bottom: 30px;
  }
  .mb-4 {
    margin-bottom: 40px;
  }

  &__heading {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #000000;
    margin: 30px 0 50px;
  }

  &__list {
    overflow: auto;
    margin-top: 40px;
  }

  &__views {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    button {
      text-transform: uppercase;
      cursor: pointer;
      padding: 22px 10px;
      text-align: center;
      background: #5b5f66;
      font-weight: 600;
      font-size: 16px;
      line-height: 21px;
      letter-spacing: 0.6px;
      color: #ffffff;
      border: none;
      width: calc(50% - 2px);

      @include screen-sm {
        font-size: 12px;
        line-height: 18px;
      }

      &.active {
        color: #fff;
        background: #285abd;
      }

      &:first-child {
        border-radius: 8px 0 0 8px;
      }
      &:last-child {
        border-radius: 0 8px 8px 0;
      }
    }
  }

  &__navigation {
    display: flex;
    margin: 0 0 30px;
    justify-content: space-between;

    @include screen-sm {
      margin-bottom: 20px;
    }

    &-select {
      padding: 18px 20px;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.6px;
      color: #000;
      border: none;
      text-align: center;
      text-align-last: center;
      appearance: none;
      width: 100%;
      background: #ededed;
      margin: 0 4px;
      text-align: -webkit-center;
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        margin-left: 10px;
      }

      @include screen-sm {
        line-height: 18px;
        letter-spacing: 0.5px;
      }

      select {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }

    button {
      border: none;
      cursor: pointer;
      background: #ededed;
      padding: 0 10px;
      color: #000;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 22px;
        height: auto;
      }

      &[disabled] {
        cursor: not-allowed;
        color: rgba(#000, 0.3);
      }

      &:first-child {
        border-radius: 8px 0px 0px 8px;
      }
      &:last-child {
        border-radius: 0px 8px 8px 0;
      }
    }
  }

  &__counted {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

  &__parties-info {
    margin-top: 30px;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.6px;
    margin-top: 40px;
    padding: 27px 30px;
    border-radius: 12px;
    border: 1px solid #dadee5;
    border-radius: 12px;
    color: #5b5f66;
  }

  &__info {
    margin-top: 30px;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding: 23px 30px 30px;
    border-radius: 12px;
    border: 1px solid #dadee5;
    border-radius: 12px;
    color: #000;

    @include screen-sm {
      padding: 6px 10px 10px;
      font-size: 14px;
      border-radius: 6px;
    }

    span,
    mark {
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.25px;
    }

    mark {
      margin-left: 16px;
      color: #0078d6;
      background-color: transparent;

      @include screen-sm {
        margin-left: 12px;
      }
    }
  }

  &__no-results {
    display: none;

    &.visible {
      display: block;
    }
  }

  &__update {
    text-transform: none;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.6px;
    color: #5b5f66;

    @include screen-sm {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.5px;
    }
  }

  &__participant_item {
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.6px;
    position: relative;

    @include screen-sm {
      background-color: transparent;
      font-size: 14px;
      letter-spacing: 0.5px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    > div {
      position: relative;
      z-index: 1;
    }

    span {
      z-index: 0;
      position: absolute;
      height: calc(100% - 46px);
      left: 112px;
      top: 23px;
      color: #000;

      @include screen-sm {
        left: 0;
        height: 100%;
        top: 0;
      }

      &::before {
        border-radius: 12px;
        content: "";
        display: block;
        background-color: #ededed;
        height: 100%;
        width: 100%;
        animation: progressBar 1s cubic-bezier(0.83, 0, 0.17, 1);
        animation-fill-mode: both;
        width: 0;
      }
    }

    @for $i from 1 through 17 {
      &:nth-child(#{$i}) {
        span::before {
          animation-delay: #{$i * 0.1}s;
        }
      }
    }

    &_result {
      font-size: 22px;
      line-height: 28px;
      letter-spacing: 0.5px;
      color: #0078d6;
      margin-left: 24px;
      white-space: nowrap;

      @include screen-sm {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.2px;
      }
    }

    &_pimage {
      height: 36px;
      border-radius: 6px;
      overflow: hidden;
      width: 36px;
      margin-right: 24px;

      img {
        width: 100%;
      }
    }
    &_image {
      border-radius: 6px;
      margin-right: 36px;
      width: 80px;
      height: 80px;
      background-color: #fff;
      overflow: hidden;

      @include screen-sm {
        display: none;
      }

      img {
        width: 100%;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 9px 20px;
    position: relative;
    font-size: 16px;
    letter-spacing: 0.6px;

    @include screen-sm {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.5px;
      padding: 15px 6px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &.loaded {
      span::before {
        width: 100%;
        animation: none;
      }
    }

    span {
      z-index: -1;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      color: #000;

      &::before {
        border-radius: 12px;
        content: "";
        display: block;
        background-color: #ededed;
        height: 100%;
        width: 100%;
        animation: progressBar 1s cubic-bezier(0.83, 0, 0.17, 1);
        animation-fill-mode: both;
        width: 0;
      }
    }

    @for $i from 1 through 17 {
      &:nth-child(#{$i}) {
        span::before {
          animation-delay: #{$i * 0.1}s;
        }
      }
    }

    img {
      width: 36px;
      height: 36px;
      background-color: #fff;
      display: block;
      border-radius: 6px;
      margin-right: 12px;
      flex-shrink: 0;

      @include screen-sm {
        margin-right: 12px;
      }
    }

    &_result {
      margin-left: 30px;
      white-space: nowrap;
      font-size: 22px;
      line-height: 28px;
      letter-spacing: 0.5px;
      color: #0078d6;

      @include screen-sm {
        flex-grow: 1;
        text-align: right;
        margin-left: 20px;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.2px;
      }
    }

    &::after {
      background-color: #5b5f66;
      border-radius: 24px;
      content: attr(data-mandates);
      align-items: center;
      justify-content: center;
      display: flex;
      width: 48px;
      height: 48px;
      letter-spacing: 0.2px;
      color: #fff;
      margin-left: 24px;
      font-size: 22px;
      line-height: 28px;
      flex-shrink: 0;

      @include screen-sm {
        font-size: 18px;
        line-height: 24px;
        width: 40px;
        height: 40px;
      }
    }
  }

  &__show-all {
    border: none;
    margin-top: 20px;
    background: #ededed;
    display: flex;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #000;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: 0.6px;
  }
}

@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
