body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

p {
  margin: 20px 0;

  span {
    color: #98a1a9;
  }
}

.mt-2 {
  margin-top: 20px;
}
